body {
              background-color: #4aeadc;

              .my-button {
              background-color: #000000;
              color: #fff;
              padding: 10px 50px;
              border: none;
              border-radius: 50px;
             }
             .my-button:hover {
              background-color: #abb8c3;
              color: #000000;
              }
             .my-button-small {
              background-color: #000000;
              color: #fff;
              padding: 5px 10px;
              border: none;
              border-radius: 10px;
             }
             .my-button-small:hover {
              background-color: #abb8c3;
              color: #000000;
              }
              .titulo-tabla {
                background-color: #abb8c3;
                color: #000000;
              }
              .my-table{
                border-radius: 15px; 
                border-collapse: separate;
                border-spacing: 10;
              }
        }